<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/dashboard.css" />
    <link rel="stylesheet" href="https://bootswatch.com/4/journal/bootstrap.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lexend Deca">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Handy Manny</title>
</head>
<body>
    <div class="topnav" id="myTopnav">
        <b><a id="navbar-title" href="#home">handy manny.</a></b>
        <a href="/dashboard">Dashboard</a>
        <a href="/book-tickets">Book Tickets</a>
        <a href="/track">Track</a>
        <a href="/account">Account</a>
        <a href="/logout">Logout</a>
        <a id="navbar-title" href="javascript:void(0);" class="icon" onclick="myFunction()">
          <i style="font-size: 2rem;" class="fa fa-bars"></i>
        </a>
    </div>
    <h1 id="main-header">Namaste, <%- name %>.</h1>
    <p class="main-hint-text">scheduled metro(s)</p>
    <div class="big-div">
        <div class="train-div"><img src="https://cdn.discordapp.com/attachments/733943303493386282/745699770441531503/unknown.png" id="train-icon"></img><p id="train-para">From Samyapur Badli Metro Station <br> To Huda City Centre Metro Station</p><p class="train-hint-text">Departure at Thursday, 9:00 AM<br>Return at Thursday, 9:30 PM </p></div>
        <div id="second-div" class="train-div"><img src="https://cdn.discordapp.com/attachments/733943303493386282/745699770441531503/unknown.png" id="train-icon"></img><p id="train-para">From Samyapur Badli Metro Station <br> To Huda City Centre Metro Station</p><p class="train-hint-text">Departure at Thursday, 9:00 AM<br>Return at Thursday, 9:30 PM </p></div>
    </div>
    <p class="main-hint-text">travel history</p>
    <div class="big-div">
        <div class="train-div"><img src="https://cdn.discordapp.com/attachments/733943303493386282/745699770441531503/unknown.png" id="train-icon"></img><p id="train-para" class="responsive" >From Samyapur Badli Metro Station <br> To Huda City Centre Metro Station</p><p class="train-hint-text">Departure at Thursday, 9:00 AM<br>Return at Thursday, 9:30 PM </p></div>
        <div id="second-div" class="train-div"><img src="https://cdn.discordapp.com/attachments/733943303493386282/745699770441531503/unknown.png" id="train-icon"></img><p id="train-para">From Samyapur Badli Metro Station <br> To Huda City Centre Metro Station</p><p class="train-hint-text">Departure at Thursday, 9:00 AM<br>Return at Thursday, 9:30 PM </p></div>
    </div>
    <p class="main-hint-text">deals and offers</p>
    <div class="big-div">
        <div class="train-div"><img style="padding-top: 1%;" src="https://cdn.discordapp.com/attachments/733943303493386282/746454327174103112/unknown.png" id="train-icon"></img><p id="train-para">20% off for using HDFC<br>Mastercard</p><p class="train-hint-text">This deal is only valid till 2nd September. You'll<br>regret not taking advantage of it.</p></div>
        <div id="second-div" class="train-div"><img style="padding-top: 1%;" src="https://cdn.discordapp.com/attachments/733943303493386282/746454327174103112/unknown.png" id="train-icon"></img><p id="train-para">20% off for using HDFC<br>Mastercard</p><p class="train-hint-text">This deal is only valid till 2nd September. You'll<br>regret not taking advantage of it.</p></div>
    </div>
    <br><br><br>
    <script src="/js/navbar.js"></script>
</body>
</html>