<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/home.css" />
    <link rel="stylesheet" href="https://bootswatch.com/4/journal/bootstrap.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lexend Deca">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
    <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
    <title>Handy Manny</title>
</head>
<body>
    <div class="topnav" id="myTopnav">
        <b><a id="navbar-title" href="#home">handy manny.</a></b>
        <a href="/register">Register</a>
        <a href="/login">Login</a>
        <a id="navbar-title" href="javascript:void(0);" class="icon" onclick="myFunction()">
          <i style="font-size: 2rem;" class="fa fa-bars"></i>
        </a>
    </div>
    <h1 id="main-header">Metro Rail Network</h1>
    <p class="main-hint-text">Sheet Rock Hills </p>
        <a class="video-play-button" data-fancybox href="https://www.youtube.com/watch?v=ajwUVITx9wQ">
            <span></span>
        </a>
    <h1 class="home-heading">Structure</h1>
    <p class="home-para">The best-in class structure of all metro rail networks. This structure took us years of planning to prepare. It was designed to withstand the toughest of conditions.</p>
    <p  id="img-grid" class="imglist" style="max-width: 1000px;">
        <a href="https://cdn.discordapp.com/attachments/748182306358821034/748182386176426094/3dtrainren2__01.jpg" data-fancybox="images">
          <img id="small-img" src="https://cdn.discordapp.com/attachments/746672699144798310/748182745414369372/unknown.png" />
        </a>
      
        <a href="https://cdn.discordapp.com/attachments/748182306358821034/748182387514671124/3dtrainren_main.jpg" data-fancybox="images">
          <img id="small-img" src="https://cdn.discordapp.com/attachments/746672699144798310/748183033504333914/unknown.png" />
        </a>
        
        <a href="https://cdn.discordapp.com/attachments/748182306358821034/748182388127039609/3dtrainren4__01.jpg" data-fancybox="images">
          <img id="small-img" src="https://cdn.discordapp.com/attachments/746672699144798310/748183337394372618/unknown.png" />
        </a>
        <br>
        <a href="https://cdn.discordapp.com/attachments/748182306358821034/748182394489536542/3dtrainren3__01.jpg" data-fancybox="images">
          <img id="small-img1" src="https://cdn.discordapp.com/attachments/746672699144798310/748183920314679386/unknown.png" />
        </a>
      
        <a href="https://cdn.discordapp.com/attachments/748182306358821034/748182389447983224/3dtrain__01.jpg" data-fancybox="images">
          <img id="small-img" src="https://cdn.discordapp.com/attachments/746672699144798310/748183719168311374/unknown.png" />
        </a>
      </p>
      <h1 class="home-heading">Routes</h1>
      <p class="home-para">Our routes operate, maintain and renew infrastructure to deliver a safe and reliable railway for passengers.</p>
      <a href="https://cdn.discordapp.com/attachments/744968226852831293/748088306159583292/handy-manny.png" data-fancybox="images">
        <img id="route-small-img" src="https://cdn.discordapp.com/attachments/746672699144798310/748090939280457830/unknown.png" />
      </a>
      <h1 class="home-heading">Location</h1>
      <iframe frameborder="0" style="border:0"
    src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAqgRE9cHWPR1DNN5nQtEDbdCT9Q6JExXw
    &q=sec-55+sec-56+metro+station&maptype=satellite" allowfullscreen>
</iframe>
    <script src="/js/navbar.js"></script>
</body>
</html>