<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/home.css" />
    <link rel="stylesheet" href="https://bootswatch.com/4/journal/bootstrap.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lexend Deca">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
    <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
    <title>Handy Manny</title>
</head>
<body>
    <div class="topnav" id="myTopnav">
        <b><a id="navbar-title" href="#home">handy manny.</a></b>
        <a href="/register">Register</a>
        <a href="/login">Login</a>
        <a id="navbar-title" href="javascript:void(0);" class="icon" onclick="myFunction()">
          <i style="font-size: 2rem;" class="fa fa-bars"></i>
        </a>
    </div>
    <h1 id="main-header">Metro Rail Network</h1>
    <p class="main-hint-text">Sheet Rock Hills </p>
        <a id="play-video" class="video-play-button" data-fancybox href="https://www.youtube.com/watch?v=ajwUVITx9wQ">
            <span></span>
        </a>
    <h1 class="home-heading">Structure</h1>
    <p class="home-para">The best-in class structure of all metro rail networks. This structure took us years of planning to prepare. It was designed to withstand the toughest of conditions.</p>
    <p  id="img-grid" class="imglist" style="max-width: 1000px;">
        <a href="https://cdn.discordapp.com/attachments/728928774631981117/746640264981905458/Screenshot_172.png" data-fancybox="images">
          <img id="small-img" src="https://cdn.discordapp.com/attachments/733943303493386282/746657417030402048/unknown.png" />
        </a>
      
        <a href="https://cdn.discordapp.com/attachments/728928774631981117/746640266047520772/Screenshot_173.png" data-fancybox="images">
          <img id="small-img" src="https://cdn.discordapp.com/attachments/733943303493386282/746658012546072647/unknown.png" />
        </a>
        
        <a href="https://cdn.discordapp.com/attachments/728928774631981117/746640271990849546/Screenshot_174.png" data-fancybox="images">
          <img id="small-img" src="https://cdn.discordapp.com/attachments/733943303493386282/746658156964479016/unknown.png" />
        </a>
        <br>
        <a href="https://cdn.discordapp.com/attachments/728928774631981117/746640273312055296/Screenshot_171.png" data-fancybox="images">
          <img id="small-img1" src="https://cdn.discordapp.com/attachments/733943303493386282/746659024417587230/unknown.png" />
        </a>
      
        <a href="https://cdn.discordapp.com/attachments/728928774631981117/746640273798332476/Screenshot_175.png" data-fancybox="images">
          <img id="small-img" src="https://cdn.discordapp.com/attachments/733943303493386282/746659185961467944/unknown.png" />
        </a>
      </p>
      <h1 class="home-heading">Routes</h1>
      <p class="home-para">Our routes operate, maintain and renew infrastructure to deliver a safe and reliable railway for passengers.</p>
      <a href="https://hmrl.co.in/img/2017_04-10_Metro_Corridor_map.png" data-fancybox="images">
        <img id="route-small-img" src="https://cdn.discordapp.com/attachments/733943303493386282/746664995319709766/unknown.png" />
      </a>
      <h1 class="home-heading">Location</h1>
      <iframe frameborder="0" style="border:0"
    src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAqgRE9cHWPR1DNN5nQtEDbdCT9Q6JExXw
    &q=sec-55+sec-56+metro+station&maptype=satellite" allowfullscreen>
</iframe>
    <script src="/js/navbar.js"></script>
</body>
</html>