<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/register.css" rel="stylesheet" >
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lexend+Deca">
    <title>Handy Manny</title>
</head>
<body>
    <img class="side-img" src="https://cdn.discordapp.com/attachments/745141823210782720/745551737020088331/unknown.png">
    <div class="right">
        <div class="content">
            <h1>Create an account</h1>
            <p>we don't share your information with anyone.</p>
            <%- include('./partials/messages') %>
            <form autocomplete="autocomplete_off_hack_xfr4!k" action="/register" method="POST">
                <input placeholder="Name" type="text" name="name" value="<%= typeof name != 'undefined' ? name : '' %>">
                <input placeholder="Email address" name="email" type="email" value="<%= typeof email != 'undefined' ? email : '' %>" >
                <input type="password" placeholder="Password" name="password" value="<%= typeof password != 'undefined' ? password : '' %>">
                <button type="submit" >Signup</button>
                <a style="text-decoration: none;" href="/login"><p id="sp" >login instead ?</p></a>
            </form>
            <b><a style="text-decoration: none;" href="/"><p id="bottom-text">Handy Manny.</p></a></b>
        </div>
    </div>
</body>
</html>