<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a style="text-decoration: none" href="/"><h1 id="header">Handy Manny</h1></a>
  <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-collapse collapse" id="navbarColor01">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="/users/login">Login <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/users/register">Register</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container text-center">
<h1 id="main-header">Metro Rail Network, Sheet Rock Hills</h1><br><br>
<iframe width="960" height="515" src="https://www.youtube.com/embed/XuFDcZABiDQ?controls=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<!-- <div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body text-center">
        <h1><i class="fab fa-node-js fa-3x"></i></h1>
        <p>Create an account or login</p>
        <a href="" class="btn btn-primary btn-block mb-2"
          >Register</a
        >
        <a href="" class="btn btn-secondary btn-block">Login</a>
      </div>
    </div>
</div> -->